* {
  box-sizing: border-box;
  font-family: 'New Rocker', cursive;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: linear-gradient(#373f57, #272f37);
}

a {
  text-decoration: none;
  color: inherit;
}

.map {
  position: absolute;
  transform-origin: 0% 0%;
  top: 0;
  width: 0;
}

.map > .isometric-wrapper{
  transform-origin: 0% 0%;
  transform: rotateX(60deg) rotateZ(40deg);
}

.isometric-wrapper > :first-child {
  box-shadow: 8px 8px 4px 4px #0000007f;
}

.isometric-wrapper > svg, .isometric-wrapper > canvas {
  display: block;
  position: absolute; 
}

.ui {
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  user-select: none;
}

.ui > .info {
  width: 256px;
  height: calc(100vh - 16px);
  backdrop-filter: blur(8px);
  margin: 8px 0;
  border-radius: 0 8px 8px 0;
  padding: 8px;
  box-shadow: 0px 2px 2px 2px #0000001f;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.ui > .info > div{
  margin-bottom: 8px;
}

.ui > .info::before{
  content: " ";
  background-image: url("../images/info-background.jpg");
  position: absolute;
  top: 0;
  lefT: 0;
  width: 256px;
  height: calc(100vh - 16px);
  opacity: 0.9;
  z-index: -1;
}

.ui > .info > h3 {
  align-self: center;
}

.ui .commands-end-turn-wrapper{
  margin: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 0;
}
.ui .commands {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: max-content;
  padding: 8px;
  background: linear-gradient(#b15700ef, #67310bef);
  box-shadow: 0px 2px 1px 1px #000000;
  border-radius: 8px;
  backdrop-filter: blur(8px);
}

.ui .commands > div.button.command-button {
  display: block;
  background: radial-gradient(#21201b, #382516);
  color: #f3a25a;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 8px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  align-self: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  border: solid 1px #372d2c;
  box-shadow: 0 2px 2px 0 #0000001f;
}

.ui .commands > div.button.command-button:first-child{
  margin-top: 4px;
}

.ui .commands > div.button.command-button:hover {
  background: radial-gradient(#4d2d17, #382516);
}

.ui .commands > div.button.command-button.selected {
  background: radial-gradient(#a63800, #b82200);
  color: #ffdf00;
}

.ui a.end-turn {
  display: flex;
  width: max-content;
  border-radius: 8px;
  flex: 0 1 auto;
  flex-direction: column;
  padding: 8px 20px;
  background-color: #382516;
  color: #ffdf00;
}

div.unit-indicator{
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #cfcfcf;
  user-select: none;
  transform-origin: 50% 44px;
  transform: translate(-50%, -50px) scale(0.8);
  text-align: center;
  font-size: 22px;
  line-height: 36px;
  cursor: pointer;
  box-sizing: border-box;
  border: 2px solid #bfbfbf;
  box-shadow: 1px 1px 0 0 #000000;
}

div.unit-indicator::before{
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 3.6px) rotate(45deg);
  transform-origin: 50% 50%;
  background-color: inherit;
  z-index: -1;
  box-sizing: border-box;
  border: 2px solid;
  border-top: none;
  border-left: none;
  border-color: inherit;
  box-shadow: 1.4px 0px 0 -0.1px #000000;
}

div.unit-indicator:hover, div.unit-indicator:hover::before{
  border-color: #dfdfdf;
}

div.unit-indicator.active, div.unit-indicator.active::before{
  border-color: #ffffff;
  border-width: 3px;
}

div.unit-indicator.active {
  transform: translate(-50%, -50px);
}

div.unit-indicator::before.active{
  box-shadow: 0px 32px 12px #0000001f;
}