* {
  box-sizing: border-box;
  font-family: 'New Rocker', cursive;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: linear-gradient(#373f57, #272f37);
}

li {
  list-style: none;
}

img#improvements {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.map {
  position: absolute;
  transform-origin: 0% 0%;
  top: 0;
  width: 0;
}

.map > .isometric-wrapper{
  transform-origin: 0% 0%;
  transform: rotateX(54.735610317245346deg) rotateZ(40deg);
}

.isometric-wrapper > :first-child {
  box-shadow: 8px 8px 4px 4px #0000007f;
}

.isometric-wrapper > svg, .isometric-wrapper > canvas {
  display: block;
  position: absolute; 
}

.ui {
  position: absolute;
  display: flex;
  flex-direction: column;
  user-select: none;
  height: calc(100vh);
}

.ui > .date {
  position: absolute;
  z-index: 999;
  left: calc(50vw + 128px);
  transform: translateX(-50%);
  height: 40px;
  width: 256px;
  padding: 8px;
  padding-top: 0;
  text-align: center;
  line-height: 32px;
  vertical-align: middle;
  color: white;
  text-shadow: 0 0 5px black;;
}

.ui > .panels {
  top: 0;
  display: flex;
  flex: 1 1 auto;
}

.ui > .panels > .info {
  width: 256px;
  backdrop-filter: blur(8px);
  margin: 8px 0;
  border-radius: 0 8px 8px 0;
  padding: 16px;
  box-shadow: 0px 2px 2px 2px #0000001f;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.ui > .panels > .info > div{
  margin-bottom: 8px;
}

.ui > .panels > .info::before{
  content: " ";
  background-image: url("../images/info-background.jpg");
  position: absolute;
  top: 0;
  lefT: 0;
  width: 256px;
  height: calc(100vh - 16px);
  opacity: 0.9;
  z-index: -1;
}

.ui > .panels > .info > h3 {
  align-self: center;
}

.ui > .panels > .info .data-wrapper > div {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}

.ui > .panels .commands-end-turn-wrapper{
  margin: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 0;
}

.ui > .panels .commands-end-turn-wrapper .commands.inactive {
  visibility: hidden;
}

.ui > .panels .commands {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: max-content;
  padding: 8px;
  background: linear-gradient(#b15700ef, #67310bef);
  box-shadow: 0px 2px 1px 1px #000000;
  border-radius: 8px;
  backdrop-filter: blur(8px);
}

.ui > .panels .commands > div.button.command-button, div.dropdown-modal > .dropdown-button {
  display: block;
  background: radial-gradient(#21201b, #382516);
  color: #f3a25a;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 8px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  align-self: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  border: solid 1px #372d2c;
  box-shadow: 0 2px 2px 0 #0000001f;
}

.ui > .panels .commands > div.button.command-button:first-child{
  margin-top: 4px;
}

.ui > .panels .commands > div.button.command-button:hover,
.ui a.end-turn:hover, 
div.dropdown-modal > .dropdown-button:hover{
  background: radial-gradient(#4d2d17, #382516);
}

.ui > .panels .commands > div.button.command-button.selected {
  background: radial-gradient(#a63800, #b82200);
  color: #ffdf00;
}

.ui > .panels .commands > div.button.command-button.inactive{
  background: radial-gradient(#574f47, #776f57);
  color: #9f9f9f;
}

.ui > .panels .commands-end-turn-wrapper:not(.endable) a.end-turn {
  display: none;
}

.ui a.end-turn {
  display: flex;
  width: max-content;
  border-radius: 8px;
  flex: 0 1 auto;
  flex-direction: column;
  padding: 8px 20px;
  background-color: #382516;
  color: #ffdf00;
  cursor: pointer;
}

div.dropdown-modal{
  position: fixed;
  width: 100vw;
  height: 0;
}

div.dropdown-modal > .mask{
  position: fixed;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(8px);
  background-color: #ffffff7f;
  display: none;;
}

div.dropdown-modal.active > .mask{
  display: block;
}

div.dropdown-modal > .dropdown-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 40px;
  height: 40px;
  display: flex;
}

div.dropdown-modal > .dropdown-button > i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

div.dropdown-modal .dropdown-menu {
  width: 256px;
  position: absolute;
  top: 40px;
  right: 8px;
  display: none;
  flex-direction: column;
}

div.dropdown-modal.active .dropdown-menu {
  display: flex;
}

div.dropdown-modal .dropdown-item {
  background-color: #776f57;
  cursor: pointer;
  position: relative;
}

div.dropdown-modal .dropdown-item:hover {
  background-color: #f3a25a;
}

div.dropdown-modal .dropdown-item:active {
  background-color: #f39848;
}


div.dropdown-modal .dropdown-item > * {
  padding: 8px;
  width: 100%;
  display: block;
}

div.dropdown-modal .help-window{
  width: 512px;
  height: 512px;
  overflow-y: scroll;
  background-color: #ffffff;
  position: absolute;
  margin: auto;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 6px 6px #ffffff1f;
  display: none;
}

div.dropdown-modal.active .help-window{
  display: block;
}