* {
  box-sizing: border-box;
  font-family: 'New Rocker', cursive;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: linear-gradient(#373f57, #272f37);
}

li {
  list-style: none;
}

img#improvements {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.map {
  position: absolute;
  transform-origin: 0% 0%;
  top: 0;
  width: 0;
}

.map > .isometric-wrapper{
  transform-origin: 0% 0%;
  transform: rotateX(54.735610317245346deg) rotateZ(40deg);
}

.isometric-wrapper > :first-child {
  box-shadow: 8px 8px 4px 4px #0000007f;
}

.isometric-wrapper > svg, .isometric-wrapper > canvas {
  display: block;
  position: absolute; 
}

.ui {
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  user-select: none;
}

.ui > .info {
  width: 256px;
  height: calc(100vh - 16px);
  backdrop-filter: blur(8px);
  margin: 8px 0;
  border-radius: 0 8px 8px 0;
  padding: 16px;
  box-shadow: 0px 2px 2px 2px #0000001f;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.ui > .info > div{
  margin-bottom: 8px;
}

.ui > .info::before{
  content: " ";
  background-image: url("../images/info-background.jpg");
  position: absolute;
  top: 0;
  lefT: 0;
  width: 256px;
  height: calc(100vh - 16px);
  opacity: 0.9;
  z-index: -1;
}

.ui > .info > h3 {
  align-self: center;
}

.ui > .info .data-wrapper > div {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}

.ui .commands-end-turn-wrapper{
  margin: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 0;
}

.ui .commands-end-turn-wrapper .commands.inactive {
  visibility: hidden;
}

.ui .commands {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: max-content;
  padding: 8px;
  background: linear-gradient(#b15700ef, #67310bef);
  box-shadow: 0px 2px 1px 1px #000000;
  border-radius: 8px;
  backdrop-filter: blur(8px);
}

.ui .commands > div.button.command-button, div.dropdown-modal > .dropdown-button {
  display: block;
  background: radial-gradient(#21201b, #382516);
  color: #f3a25a;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 8px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  align-self: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  border: solid 1px #372d2c;
  box-shadow: 0 2px 2px 0 #0000001f;
}

.ui .commands > div.button.command-button:first-child{
  margin-top: 4px;
}

.ui .commands > div.button.command-button:hover,
.ui a.end-turn:hover, 
div.dropdown-modal > .dropdown-button:hover{
  background: radial-gradient(#4d2d17, #382516);
}

.ui .commands > div.button.command-button.selected {
  background: radial-gradient(#a63800, #b82200);
  color: #ffdf00;
}

.ui .commands > div.button.command-button.inactive{
  background: radial-gradient(#574f47, #776f57);
  color: #9f9f9f;
}

.ui .commands-end-turn-wrapper:not(.endable) a.end-turn {
  display: none;
}

.ui a.end-turn {
  display: flex;
  width: max-content;
  border-radius: 8px;
  flex: 0 1 auto;
  flex-direction: column;
  padding: 8px 20px;
  background-color: #382516;
  color: #ffdf00;
  cursor: pointer;
}

div.annotation{
  position: absolute;
  height: 36px;
  border-radius: 18px;
  background-color: #cfcfcf;
  user-select: none;
  transform-origin: 50% 44px;
  transform: translate(-50%, -60px) scale(0.8);
  text-align: center;
  font-size: 22px;
  line-height: 36px;
  cursor: pointer;
  box-sizing: border-box;
  border: 2px solid #bfbfbf;
  box-shadow: 1px 1px 0 0 #000000;
  opacity: 0.8;
}

div.unit-annotation{
  width: 36px;
  transform: translate(-50%, -50px) scale(0.8);
}

div.city-annotation{
  min-width: 36px;
  width: max-content;
  padding: 0 8px;
  font-size: 20px;
}

div.unit-annotation::after{
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: inherit;
  user-select: none;
  left: 50%;
  top: 50%;
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%) scale(0.8, 0.35);
  z-index: -2 ;
}

div.unit-annotation::before{
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 3.6px) rotate(45deg);
  transform-origin: 50% 50%;
  background-color: inherit;
  z-index: -1;
  box-sizing: border-box;
  border: 2px solid;
  border-top: none;
  border-left: none;
  border-color: inherit;
  box-shadow: 1.4px 0px 0 -0.1px #000000;
}

div.annotation:hover, div.unit-annotation:hover::before{
  border-color: #dfdfdf;
}

div.annotation.active, div.unit-annotation.active::before{
  border-color: #ffffff;
  border-width: 3px;
}

div.annotation.active {
  opacity: 1;
  z-index: 9999 !important;
}

div.unit-annotation.active {
  transform: translate(-50%, -50px);
}

div.unit-annotation.active::after{
  box-shadow: 0px 92px 16px 16px #ffefbf1f;
}

div .unit-annotation div.overlapping-emoji > *{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

div .unit-annotation div.overlapping-emoji > :last-child{
  transform: translate(-45%);
}

div.dropdown-modal{
  position: fixed;
  width: 100vw;
  height: 0;
}

div.dropdown-modal > .mask{
  position: fixed;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(8px);
  background-color: #ffffff7f;
  display: none;;
}

div.dropdown-modal.active > .mask{
  display: block;
}

div.dropdown-modal > .dropdown-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 40px;
  height: 40px;
  display: flex;
}

div.dropdown-modal > .dropdown-button > i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

div.dropdown-modal .dropdown-menu {
  width: 256px;
  position: absolute;
  top: 40px;
  right: 8px;
  display: none;
  flex-direction: column;
}

div.dropdown-modal.active .dropdown-menu {
  display: flex;
}

div.dropdown-modal .dropdown-item {
  padding: 8px;
  background-color: #776f57;
  cursor: pointer;
}

div.dropdown-modal .dropdown-item:hover {
  background-color: #f3a25a;
}

div.dropdown-modal .help-window{
  width: 512px;
  height: 512px;
  overflow-y: scroll;
  background-color: #ffffff;
  position: absolute;
  margin: auto;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 6px 6px #ffffff1f;
  display: none;
}

div.dropdown-modal.active .help-window{
  display: block;
}